
@media  screen and (max-width:390px) {
    nav{
        justify-content: space-between;
        background-color: #090909;
        height: 90vh;
        color: white;
        background-image: url(images/markup_4549_8.png);
        
        
        background-repeat: no-repeat;
         
    }
    .pirlo h1{
        font-size: 82px;
    
    
    }
    .pirlo{
        color: darkgray;
        margin-top: 164px;
        margin-left: 30px;
    }
    h1{
        color: darkgray;
        font-size: 5px;
        
     }
    
    nav h2{
        font-size: 44px;
        margin-left: 30px;
        
    }
    .head{
        font-size: 24px;

    }
    .show-menu-btn,.hide-menu-btn{
        display: block;
        
        
    }
    .navlinks{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #333;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
       
        transition: 0.7s;
    }
    .icons ul{
        
        
    }
    .button{
        display: none;
    }
    .navlinks ul li{
        display: block;
        padding: 20px;
        
        
    }
    .hide-menu-btn{
        position: absolute;
        top: 30px;
        right: 40px;
    }
    #chk:checked ~ .navlinks ul{
        right: 0;
    }
    .images{
        border: none;
        border-radius: 12px;
        height: 80vh;
        margin-top: 25%;
        margin-left: 4%;
        width: 500px;
        background-image: url(images/Screenshot_20221029-194119_2.png);
        float: left;
        
}
.icons{
    margin-left: 5px;
}
.icons ul{
    margin: 30px;   
}
.icons ul li{
    text-decoration: none;
    display: inline-block;
    color: lightgray;
    font-size: 20px;
    list-style-type: none;
    padding: 5px 2px;
    
    

}
.icons ul li a{
    text-decoration: none;
    color: lightgray;
    font-size: 25px;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
h3{
    color: rgb(45, 43, 43);
    font-size: 14px;
    text-decoration: none;
    margin-top: 45px;
    margin-left: 45px;
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
   
}
.p{
    color: rgb(97, 90, 90);
    font-size: 25px;
    margin-left: 110px;
    margin-top: 40px;
}
.ric ul{
    text-decoration: none;
    justify-content: space-between;
    
}
.ric ul li{
    display: inline-block;
    margin-left: 70px;
    padding: 2px 2px;
    font-size: 22px;
    list-style-type: none;
}ric ul li a {
    color: black;
    text-decoration: none;
    color: rgb(18, 17, 17);
    font-size: 25px;
    padding: 5px 5px;
    border: 1px solid transparent;
    transition: 0.6s ease;

    
}
.ric ul li a:hover{
    transition: 0.6s ease;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgb(241, 40, 40);
    color: rgb(241, 40, 40);
    cursor: pointer;
    list-style-type: none;
}
.ric a.acting{
    color:  rgb(241, 40, 70);
    border: 2px solid rgb(241, 40, 70);
    border-right: none;
    border-top: none;
    border-left: none;
}
.ric h1{
    color: rgb(68, 63, 63);
    margin-left: 110px;
    margin-top: 35px;
}

ric h{
    color: rgb(68, 63, 63);
    margin-left: 110px;
    margin-top: 95px;
}
    
}
@media  screen and (max-width:1000px) {
    nav{
        justify-content: space-between;
        background-color: #090909;
        height: 90vh;
        color: white;
        background-image: url(images/markup_4549_8.png);
        background-position: 300px;
        background-size: 920px;
        background-repeat: no-repeat; 
    }
    .pirlo h1{
        font-size: 22px;
    
    }
    .pirlo{
        color: darkgray;
        margin-top: 164px;
        margin-left: 30px;
    }
    h1{
        color: darkgray;
        font-size: 54px;
        
     }
    
    nav h2{
        font-size: 84px;
        margin-left: 30px;
        
    }
    .head{
        font-size: 84px;

    }
    .show-menu-btn,.hide-menu-btn{
        display: block;
        
        
    }
    .navlinks{
        width: 100%;
        height: 100vh;
        background: #333;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        display: none;
       
        transition: 0.7s;
    }
    .icons ul{
        
        
    }
    .button{
       margin-left: 600px; 
    }
    .navlinks ul li{
        display: block;
        padding: 20px;
        
        
    }
    .hide-menu-btn{
        position: absolute;
        top: 30px;
        right: 40px;
    }
    #chk:checked ~ .navlinks ul{
        right: 0;
    }
    .images{
        border: none;
        border-radius: 12px;
        height: 80vh;
        margin-top: 25%;
        margin-left: 4%;
        width: 500px;
        background-image: url(images/Screenshot_20221029-194119_2.png);
        float: left;
        
}
.icons{
    margin-left: 5px;
    
}
.icons ul{
    margin: 30px;   
}
.icons ul li{
    text-decoration: none;
    display: inline-block;
    color: lightgray;
    font-size: 20px;
    list-style-type: none;
    padding: 5px 2px;
    
    

}
.icons ul li a{
    text-decoration: none;
    color: lightgray;
    font-size: 25px;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
h3{
    color: rgb(45, 43, 43);
    font-size: 14px;
    text-decoration: none;
    margin-top: 45px;
    margin-left: 45px;
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
   
}
.p{
    color: rgb(97, 90, 90);
    font-size: 25px;
    margin-left: 110px;
    margin-top: 40px;
}
.ric ul{
    text-decoration: none;
    justify-content: space-between;
    
}
.ric ul li{
    display: inline-block;
    margin-left: 70px;
    padding: 2px 2px;
    font-size: 22px;
    list-style-type: none;
}ric ul li a {
    color: black;
    text-decoration: none;
    color: rgb(18, 17, 17);
    font-size: 25px;
    padding: 5px 5px;
    border: 1px solid transparent;
    transition: 0.6s ease;

    
}
.ric ul li a:hover{
    transition: 0.6s ease;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgb(241, 40, 40);
    color: rgb(241, 40, 40);
    cursor: pointer;
    list-style-type: none;
}
.ric a.acting{
    color:  rgb(241, 40, 70);
    border: 2px solid rgb(241, 40, 70);
    border-right: none;
    border-top: none;
    border-left: none;
}
.ric h1{
    color: rgb(68, 63, 63);
    margin-left: 110px;
    margin-top: 35px;
}

ric h{
    color: rgb(68, 63, 63);
    margin-left: 110px;
    margin-top: 95px;
}
    
}





<div class="men">
                <footer class="cop">copyright&copy;richard-musime2022</footer>
            </div>







<div class="buttonis">
                    <button class="bton" type="submit">SUBMIT</button>
                </div>


                #fdfdfd